.scroll-slider.fixed {
	background: #000;
}

.scroll-slider.fixed .bg {
	position: fixed;
	box-shadow: inset 0 0 100px black;
	transition: opacity .5s ease-in-out;
	opacity: 0;
}

.scroll-slider.fixed .slide.active .bg {
	opacity: 1;
}

.scroll-slider.fixed .text {
	position: fixed;
    opacity: 0;
    transform: translateX(-200%);
    transition: all 250ms ease-in-out;
    bottom: 5%;
    color: #fff;
    margin: 50px 20px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.scroll-slider.fixed .slide.active .text {
	opacity: 1;
	transform: translateX(0%);
}

#scroll-slide-0 .bg {
	background-position: center 80%;
}