html {
	/*
	scroll-behavior: smooth;
	*/
}

.scroll-slider ul {
	margin: 0;
	padding: 0;
}

.scroll-slider li {
	list-style: none;
}

.scroll-slider .slide {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 500px;
}

.scroll-slider .slide .inner {
	width: 100%;
}

.scroll-slider .bg {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100%;
	height: 100vh;
	min-height: 500px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: opacity .5s ease-in-out;
}

.scroll-slider .text {
    position: absolute;
    z-index: 100;
}

.scroll-slider nav.nav-right {
	position: fixed;
	z-index: 1000;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.scroll-slider nav.nav-right ul li {
	list-style: none;
}

.scroll-slider nav.nav-right ul li a {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	display: block;
	margin: 20px;
	text-align: center;
	border: 1px solid transparent;
	line-height: 30px;
	position: relative;
	transition: all 0.25s ease-in-out;
}

.scroll-slider nav.nav-right ul li a:hover span{
	background: #000;
}

.scroll-slider nav.nav-right ul li.active a {
	border: 1px solid #000;
}

.scroll-slider nav.nav-right ul li:hover a span,
.scroll-slider nav.nav-right ul li.active a span {
	width: 14px;
    height: 14px;
}

.scroll-slider nav.nav-right ul li a span {
	width: 10px;
    height: 10px;
    background: #888;
    border-radius: 100%;
    display: block;
    margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 0.25s ease-in-out;
}